body{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;

}
.food-card {
  background: linear-gradient(145deg, #2c3e50, #34495e);
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 20px;
}

.food-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.food-title {
  font-size: 24px;
  font-weight: bold;
}

.food-price {
  font-size: 20px;
  color: #f39c12;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bolder;
}
.food-price img {
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
}
.food-price button{
  background: none;
  border: none;
  cursor: pointer;
}
.food-description {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bolder;
}

.disable-button{
  opacity: 0.2;
  cursor: not-allowed;
}

.Header {
  background: #2c3e50;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.Header p{
  font-size: 14px;
  font-weight: bold;
  margin-top: 50px;
  color: #f39c12;
}

.Header img {
  fill: white;
  width: 70px;
  height: 70px;
  margin-bottom: -5px;
}
.Header button{
  background: none;
  border: none;
  cursor: pointer;
}
.header-content{
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  width: 100%;
}

.Footer{
  background: #2c3e50;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 10vh;
}

.Footer p{
  font-size: 14px;
  font-weight: bold;
  margin-top: 50px;
  color: #f39c12;
}

.food-section{
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-evenly;
  background-color: whitesmoke;
  height: 80vh;
  overflow-y: auto;
}

.cart-icon-number{
  display: flex;
  flex-direction: row;

}

/* Style for the dialog */
dialog {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 600px;
  padding: 20px;
  background: white;
  z-index: 1000;
}

dialog::backdrop {
  background-color: rgba(0.5, 0, 0, 0.5); /* Semi-transparent black */
}

/* Style for the cart modal content */
.cart-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-modal h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 60vh;
  overflow-y: auto;
}

/* Custom scrollbar for cart items */
.cart-items::-webkit-scrollbar {
  width: 8px;
}

.cart-items::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 10px;
}

.cart-items::-webkit-scrollbar-track {
  background: white;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  dialog {
      width: 90%;
  }
}

.cart-tile {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-tile img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}




input[type="number"] {
  width: 50px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}

/* Style for the total price display */
.cart-tile p:last-child {
  margin-left: auto;
  font-weight: bold;
}

.cart-modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.cart-buttons button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-cart img{
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.cart-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-title p {
  margin: 0;
  color: #333;
  font-size: 16px;
  flex-grow: 1; /* Ensures the title takes up the available space */
}
.cart-tile p {
  margin: 1px;
  color: #333;
  font-size: 16px;
}

.remove-cart {
  margin-left: 10px; /* Adds some space between the title and the delete button */
  background: none; /* Removes any default styling (optional) */
  border: none;
  padding: 0;
  cursor: pointer;
}

.OrderDialog {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  padding: 20px;
  background-color: white;
}

.OrderDialog dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.OrderDialog form {
  display: flex;
  flex-direction: column;
}

.form-data {
  margin-top: 20px;
}

.form-data label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-data input, .form-data textarea {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 16px); /* Adjusts width considering padding */
}

button {
  background-color: #0056b3;
  color:black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #004494;
  color: white;
}

.loader {
  border: 6px solid rgba(0, 0, 0, 0.1); /* Light grey border */
  border-top: 6px solid #3498db; /* Blue color for the top border */
  border-radius: 50%; /* Circular shape */
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite; /* Animation for spinning */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

